.direita {
    display: inline;
    float: right;
    padding-top: 10px;
    padding-bottom: 40px;
    margin-right: 50px;
}

.esquerda {
    display: inline;
    float: left;
    padding-top: 10px;
    padding-bottom: 40px;
    margin-left: 50px;
}

.img_texto {
    width: 95%;
}

.img_texto:hover {
    box-shadow: 10px 10px 10px grey;
}

.fonte2 {
    font-size: 15px;
    text-align: center;
}

a {
    text-decoration: none;
}