.imagem{
    width: 230px;
    height: 230px;
    border-radius: 10px;
    margin-bottom:  15px; ;
}

.imglado{
    display: inline-block;
    width: 20%;
    position: absolute;
    margin-top: 80px;
    margin-right: 10%;
}

.imglado2{
    display: inline-block;
    width: 20%;
    position: absolute;
    margin-top: 80px;
    margin-left: 1%;
}


.fonte{
    display: inline-block;
    position: absolute;
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 480px;
    margin-left: 1%;
}

.fonte2{
    display: inline-block;
    position: absolute;
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 480px;
    margin-left: 78.5%;
  
}


.profes{
    margin: 0 auto;
    text-align: center;
    width: 940px;

}

.profes li{
    vertical-align: top;
    border: #5095e6;
    border-radius: 10px;
    border-width: 5px;
    padding: 5px;
    border-style: groove;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 40px;
    margin-left: 40px;
    display: inline-block;
    font-size: 20px;
    height: 510px;
}

.profes li:hover{
    
    border-color: #53d2e9;

    ;

}

.profes h2{
    vertical-align: top;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

.profes li:hover h2{
    font-size: 25px;
    font-weight: bold;
    
}

.profes p{
    font-size: 20px;
    margin-top: 10px;
    width: 240px;
    padding: 5px;
    text-align: justify;
}




