.imagem{
    width: 30%;
    position: absolute;
    margin-left: 110px;
    border-radius: 5px;
    margin-top: 15px;
}

.imglado{
    display: inline-block;
    width: 20%;
    position: absolute;
    margin-top: 80px;
    margin-right: 10%;
}

.imglado2{
    display: inline-block;
    width: 20%;
    position: absolute;
    margin-top: 80px;
    margin-left: 5%;
}


.fonte{
    display: inline-block;
    position: absolute;
    font-size: 10px;
    font-style: italic;
    margin-top: 480px;
    margin-left: 6%;
}

.fonte2{
    display: inline-block;
    position: absolute;
    font-size: 10px;
    font-style: italic;
    margin-top: 480px;
    margin-left: 1160px;
}


.profes{
    margin: 0 auto;
    text-align: center;
    width: 940px;

}

.profes li{
    vertical-align: top;
    border: #5095e6;
    border-radius: 10px;
    border-width: 5px;
    padding: 5px;
    border-style: groove;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 40px;
    margin-left: 40px;
    display: inline-block;
    font-size: 18px;
}

.profes li:hover{
    
    border-color: #53d2e9;

    ;

}

.profes h2{
    vertical-align: top;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

.profes li:hover h2{
    font-size: 25px;
    font-weight: bold;
    
}

.profes p{
    font-size: 18px;
    margin-top: 10px;
    width: 200px;
    padding: 5px 0;
    text-align: justify;
}




