/* não é uma classe usada no código, é só pra ver as cores da paleta*/
.paleta {
    color: #3A20B6;
    color: #9947EB;
    color: #5095E6;
    color: #53D2E9;
    color: #C8F7FF;
    color: #C9A7EE;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #C9A7EE;
}

.cabecalho {
    background-color: #5095E6;
    padding-top: 10px;
    padding-bottom: 10px;
}
  
nav {
    overflow: hidden;
}
  
nav a {
    float: left;
    font-size: 20px;
    color: black;
    text-align: center;
    padding: 0 0 0 15px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}
  
.quem_somos {
    margin: 0 0 0 15px;
    position: absolute;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    color: black;
}
  
.quem_somos_menu {
    display: none;
    position: absolute;
    background-color: #758183;
    color: black;
    font-weight: bold;
    width: 150px;
    padding: 12px 16px;
}

/*
.ativo {
    text-decoration: none;
    text-transform: uppercase;
    color: #3A20B6;
    font-weight: bold;
    font-size: 20px;
}
*/

nav a:hover, .fonte_link:hover, .quem_somos:hover{
    color: #9947EB;
}

.quem_somos:hover .quem_somos_menu {
    display:block;
}

.img_header {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
}

.fonte_header {
    text-align: right;
    text-transform: uppercase;
    padding-right: 5px;
}

.fonte_link {
    text-decoration: none;
}

.rodape {
    font-size: 15px;
    background-color: #5095E6;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    bottom: 0px;
    width: 100%;
}

b {
    font-weight: bold;
    color: #3A20B6;
}

.titulo {
    color: #9947EB;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.texto {
    font-size: 20px;
    margin: 20px 50px 10px 50px;
}


