body{
    background-color: rgb(255, 241, 161);
}

.cabecalho{
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    padding: 5px;
    background-color: #53d2e9;
    border-bottom: solid #5095e6;
}

.imagemCabecalho{

    margin: auto;
    display: block;
    width: 100%;
}

.fonte{
    display: inline-block;
    position: absolute;
    font-size: 12px;
    color: white;
    font-style: italic;
    margin-top: 250px;
    margin-left: 15%;
}

.fonte2{
    display: inline-block;
    position: absolute;
    font-size: 12px;
    color: black;
    font-style: italic;
    margin-top: 260px;
    margin-left: 8%;
}

.titulos{
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 25px;
    border-bottom:solid #5095e6;
    font-weight: bold;
    text-align: center;
    background-color: #53d2e9;
}

.paragrafos{
    font-size: 20px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;
    text-align: justify;

}

.paragrafo_especial{
    font-size: 20px;
    margin-left: 540px;
    margin-right: 100px;
    margin-top: 90px;
    margin-bottom: 60px;
    padding: 10px;
    text-align: justify;
}

.paragrafo_especial2{
    font-size: 20px;
    margin-left: 540px;
    margin-right: 100px;
    margin-top: 5px;
    margin-bottom: 60px;
    padding: 10px;
    text-align: justify;
}

.imagem{
    width: 30%;
    position: absolute;
    margin-left: 110px;
    border-radius: 5px;
    margin-top: 10px;
}

.rodape{
    font-size: 15px;
    text-align: center;
    color: black;
    background-color: #53d2e9;
    padding-top: 10px;
    bottom: 0px;
    position: fixed;
    width: 100%;
}
