.quem_somos {
    margin: 0 0 0 15px;
    position: absolute;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    color: #3A20B6;
}

.link_neabi {
    text-decoration: none;
}

b:hover {
    color: #9947EB;
}

.rodape {
    font-size: 15px;
    background-color: #5095E6;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    bottom: 0px;
    width: 100%;
    position: absolute;
}
