body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #C9A7EE;
}

.cabecalho {
    background-color: #5095E6;
    padding-top: 10px;
}

nav {
    overflow: hidden;
    margin-top: 10px;
}
  
nav a {
    float: left;
    font-size: 20px;
    color: black;
    text-align: center;
    padding: 0 0 0 15px;
    text-decoration: none;
    font-weight: bold;
}
  
.quem_somos {
    margin: 0 0 0 15px;
    position: absolute;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    color: black;
}
  
.quem_somos_menu {
    display: none;
    position: absolute;
    background-color: #758183;
    color: black;
    font-weight: bold;
    width: 150px;
    box-shadow: 0px 10px 10px 0px #5f696b;
    padding: 12px 16px;
}
  
.quem_somos:hover{
    color: #e3b85d;
}

.quem_somos:hover .quem_somos_menu {
    display:block;
}

.ativo {
    text-decoration: none;
    text-transform: uppercase;
    color: #3A20B6;
    font-weight: bold;
    font-size: 20px;
}

.img_header {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
}

.fonte_header {
    text-align: right;
    text-transform: uppercase;
    padding-bottom: 5px;
    padding-right: 5px;
}

.fonte_link {
    text-decoration: none;
}